version: "3.9"

services:
  django:
    build:
      context: .
      dockerfile: ./compose/base/Dockerfile
    env_file:
      - .env
    image: movie_content
    command: sh /usr/src/app/compose/local/start.sh
    volumes:
      - .:/app/
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres
    ports:
      - "5555:5432"
    env_file:
      - .env
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    restart: always
    networks:
      - default

  redis:
    image: redis
    ports:
      - "6378:6379"
    restart: always
    networks:
      - default

